#remote
	h1 remote control
	p
		ul.programlist
			li.program#bb benidorm bastards
				button.startbutton start
			li.program iets met bart kaëll
				.startbutton start
			li.program iets met luk appermont
				.startbutton start
			li.program iets dat ge echt niet wilt zien
				.startbutton start
	form(method="post", action="/")
		input(type="text", name="user")

#button
	h1 share een minuut
		#sharebutton

#list
	h1 gedeelde fragmenten
	p
		ul.sharelist
			li.fragment dat fragment met bart appermont
			li.fragment dat fragment met benidorm appermont

#watch
	#video video
	#metadata metadata
	#reclamebuttons reclame
