header De Minuut
.mainview#mainview-remotecontrol
	ul
.mainview#mainview-share
	textarea(rows="5", placeholder="commentaar")
	br
	button Deel deze minuut
.mainview#mainview-shareditems
	ul
nav
	.item#remotecontrol afstands-bediening
	.item#share deel een fragment
	.item#shareditems gedeelde fragmenten
