#remote
	h1 remote control
		ul.programlist
			li.program benidorm bastards
			li.program iets met bart kaëll
			li.program iets met luk appermont
			li.program iets dat ge echt niet wilt zien

#button
	h1 share een minuut
		#sharebutton

#list
	h1 gedeelde fragmenten
		ul.sharelist
			li.fragment dat fragment met bart appermont
			li.fragment dat fragment met benidorm appermont

#watch
	#video
	#metadata
	#reclamebuttons 
