//SAM: geen idee hoe ik dit in de header kan krijgen, want is specifiek voor deze pagina
//en niet voor alle pagina's (swat, het werkt hier ook)
script(id="shareditem-template", type="text/x-jquery-tmpl")
	.title ${title}
	.user ${user}
	.comment ${comment}

header De Minuut
.mainview#mainview-remotecontrol
	ul
.mainview#mainview-share
	textarea(rows="5", placeholder="commentaar")
	br
	button Deel deze minuut
.mainview#mainview-shareditems
	ul
nav
	.item#remotecontrol afstands-bediening
	.item#share deel een fragment
	.item#shareditems gedeelde fragmenten
