input(type="text", name="user" , value="matthias")
input(type="text", name="movie" , value="http://champ.vrtmedialab.be/videos/benidormb.m4v")
input(type="text", name="startframe" , value="10")
input(type="text", name="stopframe" , value="80")
button spelen maar


