input(type="text", name="user" , value="matthias")
input(type="text", name="movie" , value="benidorm.bastards.jg02afl07.hdtv.720p.x264-kol0nel.m4v")
input(type="text", name="startframe" , value="10")
input(type="text", name="stopframe" , value="80")
button submitt


