html,body{
	position: relative;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 14px;
	color: #333333;
	border:none;
	background-color: #EDECED;
}

input,select,textarea{
	background-size: 100% 100%;
	color: #666;
	border: 1px solid #ccc;
	font-weight: bold;
	font-size: 15px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 5px;
}

button{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 2px 4px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	min-height: 32px;
	min-width: 32px;
	text-align: center;
	border: 1px solid #333;
}

body{
	width: 100%;
	height: 100%;
}

header, nav{
	background-color: #333333;
	color: #F7F7F4;	
	width: 100%;
}

header{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 18px;	
}

header>#username{
	width: 65px;
	position: absolute;
	top: 1px;
	left: 4px;	
}

.mainview{
	margin-bottom: 60px;
	display: none; /* standaard hiden */
}

.remoteControlItem{
	height: 14px;
	padding: 10px;
	border-bottom: 1px solid #AAA;
	cursor: pointer;	
}

#mainview-share{
	padding-top: 20px;
	text-align: center;	
}


#mainview-share>textarea{
	width: 90%;	
}


#mainview-share>button{
	margin-top: 10px;
	background: #DD4B39;
	color: #F7F7F4;
}

#mainview-shareditems>video{
	background-color: #000;	
}

.shareditems{

}

.shareditem{
	position: relative;
	border-bottom: 1px solid #AAA;
	cursor: pointer;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.shareditem>.line{
	position: relative;
	clear: both;
	height: 20px;
}

.shareditem>.line>.title{
	float: left;
	font-weight: bold;
}

.shareditem>.line>.user{
	float: right;
	font-weight: bold;
}

.shareditem>.line>.comment{
	float: left;
	color: #898989;
}

.shareditem>.line>.timespan{
	float: right;
	color: #898989;
}

.similaritems{
	clear: both;
 	display: none;
 	position: relative;
}

.similaritems>.shareditem{
	border-top: 1px solid #AAA;
	border-bottom: none;
	padding-right: 0px;
}

#mainview-shareditems>.iwatchlink{
	background-image: url("../images/logo_iwatch.png");
	background-repeat: no-repeat;
	height: 25px;
	width: 100%;
	cursor: pointer;
	display: none;
	border-bottom: 1px solid #AAA;
	background-color: black;
	margin-top: -1px;
	background-position: 10px 0px;
}




nav{
	position: fixed;
	bottom: 0px;
	height: 60px;	
	text-align: center;
}

nav>.item{
	display: inline-block;
	width: 70px;
	height: 60px;
	cursor: pointer;
	background-color: #444444;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 10px;
	margin-right: 10px;
}

nav>#remotecontrol{
	background-image: url("../images/remote.png");
}

nav>#share{
	background-image: url("../images/share.png");
}

nav>#shareditems{
	background-image: url("../images/shareditems.png");
}

#eerstescherm>span{
	font-size: 16px;	
}
